<%= form_with(model: enroll, local: true) do |form| %>
  <% if enroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enroll.errors.count, "error") %> prohibited this enroll from being saved:</h2>

      <ul>
      <% enroll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>